@import url("./main.css");

.tiket {
    min-width: 300px;
    padding: 1em;
    background: var(--tema);
    text-align: center;

    .tiket-title {
        margin: 1em 0 1em 0;
        padding: 5px;
        text-align: center;
        background: white;
        border: 2px solid black;
    }

    .tiket-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 2px solid black;
        padding: 1em;
    }

    .tiket-item {
        width: 300px;
        background: white;
        text-align: center;
        border: 2px solid black;
        margin: 1em auto;
        padding: 2em;

    }
}

.red {

    background: white;
    color: red;


    &:hover {
        background: red;
        color: white;
    }
}

.green {
    background: white;
    color: green;

    &:hover {
        background: green;
        color: white;
    }
}

.select {
    text-align: center;
    padding: 10px;
    width: 80%;
}