:root {
    --theme: red;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.input {
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    margin: 10px;

    &:focus {
        border-bottom: 2px solid var(--theme);
    }
}

.label {
    font-weight: 700;
}

.btn-content {
    display: flex;
    justify-content: center;

    .btn-item {
        transition: all .1s;
        box-shadow: 1px 1px 2px black;
        padding: 10px;
        min-width: 100px;
        height: 40px;

        &:active {
            background: white;
            box-shadow: 1px 1px 5px black;
        }

    }
}

.d-none {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.container-center {
    display: grid;
    grid-template-columns: 10px 1fr 10px;

    justify-content: center;
}

.header {
    background: var(--theme);
    grid-column: 1/5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .header-title {
        color: white;
        padding: 20px;
        font-size: 32px;
        box-shadow: 0px 0px 1px black;

        &:hover {
            background: white;
            color: var(--theme);
        }
    }

    .header-content {
        display: flex;

    }

    .header-item {
        color: white;
        padding: 20px;

        &:hover {
            background: black;
        }
    }
}

.aside {
    background: var(--theme);
    grid-column: 1/2;
    border: solid 1px var(--theme);
    padding: 20px;
    margin: 10px;
    color: white;
    text-align: center;

    .aside-title {
        font-size: 2em;
        margin-bottom: 10px;
        border-bottom: solid 2px white;
    }

    .aside-content {
        background: var(--theme);
        padding: 2px;
    }

    .aside-item {
        border: solid 1px white;
        cursor: pointer;
        padding: 10px;

        &:hover {
            background: black;
        }

        a {
            color: white;
        }
    }
}

.main {
    grid-column: 2/5;
    margin: 0 10%;

    .main-title {
        color: var(--theme);
        margin: 1em 0;
        text-align: center;
    }

    .main-content {}

    .main-item {
        margin: 40px 0;

        &>h3 {
            margin: 1em;
            color: var(--theme);
        }
    }
}

.footer {
    background: var(--theme);
    grid-column: 1/5;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 2em;

    .footer-title {}

    .footer-content {}

    .footer-item {}
}

.dropdown {
    display: inline-block;
    position: relative;
    background: var(--theme);
    text-align: center;
    color: white;
    margin: 5px;
    min-width: 140px;
    box-shadow: 1px 1px 5px black;

    &:hover .dropdown-content {
        position: absolute;
        display: block;
        width: 100%;
        z-index: 2;
    }

    .dropdown-title {
        padding: 10px;
    }

    .dropdown-content {
        display: none;
        background: white;
        box-shadow: 1px 1px 5px black;
    }

    .dropdown-item {
        background: var(--theme);
        margin: 2px;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background: black;
        }

        a {
            color: white;
        }
    }
}

.acordeon {
    background: var(--theme);
    box-shadow: 1px 1px 5px black;
    padding: 2px;
    margin: 20px 5px;
    min-width: 200px;

    .acordeon-title {
        padding: 10px 20px;
        font-size: 20px;
        color: white;

        &::after {
            content: "Mostrar";
            text-decoration: underline;
            color: white;
            font-size: 12px;
            margin-right: 7%;

            position: absolute;
            right: 70px;
        }
    }

    .acordeon-content {}

    .acordeon-item {
        background: beige;
        border: 2px solid var(--theme);
        padding: 20px 40px;
    }


}

.table {
    width: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 10px gray;
    margin: 20px 0;

    .table-title {
        background: var(--theme);
        color: white;
        padding: 5px;
    }

    .table-content {}

    .table-item {
        color: black;
        font-weight: 500;
        padding: 5px;
        background: cornsilk;
        border-bottom: solid 4px var(--theme);
    }
}

.form {
    padding: 10px;
    margin: 40px 5px;
    background: var(--tema);
    color: black;

    .form-title {
        color: var(--theme);
        padding: var(--p10);
        font-size: 1.5em;
        width: 100px;
        margin: auto;
    }

    .form-content {
        width: 200px;
        margin: auto;
    }

    .form-item {
        padding: 5px;
    }
}

.menu {
    text-align: center;

    .menu-title {
        display: none;
        padding: 10px;
    }

    .menu-content {
        display: flex;
    }

    .menu-item {
        a {
            color: white;
            padding: 20px;

            &:hover {
                background: black;
            }

        }
    }
}

/* Estilos para móviles */
@media only screen and (max-width: 767px) {
    .main {
        margin: 0;
        padding: 0;
    }

    .container {
        display: inline;
    }

    .aside {
        padding: 10px;
        position: relative;
        box-shadow: 1px 1px 5px black;
        width: 140px;
        background: white;

        &:hover .aside-content {
            display: block;
            position: absolute;
            background: white;
            box-shadow: 1px 1px 5px black;
            top: 0px;
            left: 0;
            margin: 0;
            padding: 0;
        }

        .aside-title {
            font-size: 1em;
            margin: 0;
            border: none;
            color: var(--theme);
        }

        .aside-content {
            width: 100%;
            display: none;
            background: white;

        }

        .aside-item {
            background: var(--theme);
            box-shadow: 1px 1px 5px black;

        }
    }

    .menu {
        display: inline-block;
        position: fixed;
        min-width: 100px;
        background: white;
        box-shadow: 5px 10px 15px var(--theme);
        z-index: 3;
        right: 10px;

        &:hover {
            box-shadow: none;
        }

        &:hover .menu-content {
            position: absolute;
            display: block;
            width: 100%;
            top: 38px;

        }

        .menu-title {
            display: block;
            box-shadow: 1px 1px 5px black;
            color: var(--theme);
        }

        .menu-content {
            display: none;
            background: cornsilk;
            box-shadow: 1px 1px 5px black;
        }

        .menu-item {

            a {
                display: block;
                color: var(--theme);
                padding: 15px;

                &:hover {
                    background: black;
                    color: white;
                }
            }
        }
    }
}